#backCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#pageSize {
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 10em;
    color: white;
    text-align: center;
}
p {
    font-family: "Nunito", serif;
    font-size: 2em;
    color: white;
    text-align: center;
}

.centered {
    background-color: rgba(15, 10, 25, 0.2);
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}