html, body {
    margin: 0;
    background-color: rgba(35, 32, 36, 0);
    max-width: 100%;
    /*overflow-x: hidden;*/
}

#backCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#pageSize {
    min-height: 100vh;
    min-width: 100%;
}

h1 {
    margin:0;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 5em;
    background: url("data/Rockemon-Otter.png") no-repeat;
    /*Test support*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: white;*/
    text-align: left;
}
h2 {
    margin:0;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-size: 5em;
    background: url("data/Rockemon-Otter.png") no-repeat;
    /*Test support*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*color: white;*/
    text-align: left;
}
p {
    text-indent: 5vw;
    font-family: "Nunito", serif;
    font-size: 2em;
    /*color: white;*/
    text-align: left;
    margin-bottom: 0;
}

.centered {
    background-color: white;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    margin-left: 20%;
    margin-right: 0%;
    padding-top: 10pt;
    padding-left: 5%;
    padding-right: 5%;
}

.imageHolder {
    position: sticky;
    top:0;
    z-index: -1;
    max-width: auto;
    min-height: 100vh;
    align-content: center;
}
.showcase {
    margin:0;
    padding: 0;
    max-width: auto;
    max-height: 100vh
}

/*@media (min-width: 900px) {
    .imageHolder:hover {
        padding-left: 50%;
        padding-right: 50%;
    }
    .imageHolder:hover .centered {
        left:100%;
    }
}*/

@media (max-width: 900px) {
    h2 {
        font-size: 3em;
    }
    .imageHolder {
        position: block;
        max-width: 100%;
        min-height: auto;
    }
    .showcase {
        position: block;
        max-width: 100%;
        max-height: auto;
    }
    .centered {
        margin-left: 0;
        margin-right: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
}